{% extends 'layout.html' %}

{% block share %}

<div id="sitka" class="timeline">
    <div class="row">
        <div class="columns">

           <div class="timeline">
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>4/10/13</span> <span>18:30</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
                            <p class="message">Winter purslane <a href="#">#summertrip</a> courgette pumpkin quandong komatsuna fennel green bean cucumber watercress</p>
                            <h2><a href="#">Home | Mat Sitka — UI designer and web developer in Vancouver, BC</a></h2>
							<p class="link"><a href="#">http://matsitka.com</a></p>

                            <div class="friends">
                                <ul class="sml">
                                   <li><img src="http://www.placehold.it/48x48/9995BE/ffffff"></li>
                                   <li><img src="http://www.placehold.it/48x48/9995BE/ffffff"></li>
                                   <li><img src="http://www.placehold.it/48x48/9995BE/ffffff"></li>
                                   <li><a href="#" class="btn plus sml"><i class="icon-plus"></i></a></li>
                                 </ul>

                                 <ul class="sml right">
                                       <li class="p-r-0"><a href="#" class="btn nmb star"><i class="icon-star"></i></a></li>
                                       <li class="p-r-0"><a href="#" class="btn nmb">3</a></li>
                                 </ul>
                            </div>

						</div>
					</li>









				</ul>




			</div>


                <div class="sidebar">

                      <ul class="hash">
                        <a href="#" class="btn"><i class="icon-reply"></i> New Share</a>
                    </ul>

                    <ul class="hash">
                        <li><i class="icon-star"></i> Your saved shares</li>
                        <li><a href="#">View star<span>1</span></a></li>
                    </ul>

                    <ul class="hash">
                        <li><i class="icon-hashtag"></i> Your Project Hashtags</li>
                        <li><a href="#">#summertrip <span>1</span></a></li>
                        <li><a href="#">#summertrip <span>10</span></a></li>
                        <li><a href="#">#summertrip <span>1</span></a></li>
                        <li><a href="#">#summertrip <span>5</span></a></li>
                    </ul>
                </div>

        </div>
    </div>
</div>

{% endblock %}